{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "clearInterval": false,
    "console": false,
    "document": false,
    "setInterval": false
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "parser": "babel-eslint"
}